@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #111b21;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #374045;
    }
}
  